body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

#canvas {
  display: block;
  width: 100vw;
  height: 100vh;
  background-color: black;
}

.info {
  position: absolute;
  color: white;
  top: 8px;
  left: 8px;
}

.info button {
  margin-left: 8px;
}
